<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <b>Msc-AIs(2021)</b>
    <br><br><br><b>Students</b>
    <table id="data-table" border="1px" style="border-color: blue;">
        <thead>
            <tr>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Courses passed</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <br><br><br><b>Courses</b>
    <table id="data-table1" border="1px" style="border-color: blue;">
        <thead>
            <tr>
                <th>Course name</th>
                <th>Course duration</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            await fetch('/population/2021/AIs')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const tableBody = document.querySelector('#data-table tbody');
                    function nameReturn(name) {
                        let first_name = [];
                        let last_name = [];
                        let switchFlag = 0;

                        for (let i = 0; i < name.length; i++) {
                            if (switchFlag === 0) {
                                if (i < name.indexOf(".")) {
                                    first_name.push(name[i]);
                                } else {
                                    switchFlag = 1;
                                }
                            } else if (switchFlag === 1) {
                                if (name[i] === "@") {
                                    break;
                                }
                                last_name.push(name[i]);
                            }
                        }

                        return [first_name.join(""), last_name.join("")];
                    }

                    data.forEach(item => {
                        nameReturned = nameReturn(item[0])
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${item[0]}</td>
                        <td>${nameReturned[0]}</td>
                        <td>${nameReturned[1]}</td>
                        <td>${item[1]}/4</td>
                    `;
                        row.addEventListener('click', function () {
                            window.location.href = 'student.html?email=' + encodeURIComponent(item[0]);
                        });
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
            await fetch('/course/AIs')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const tableBody = document.querySelector('#data-table1 tbody');
                    data.forEach(item => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${item[0]}</td>
                        <td>${item[1]}</td>
                    `;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        });

    </script>
</body>

</html>